@tailwind base;
@tailwind components;
@tailwind utilities;


.range{
    --range-shdw: #66BB6A;
}

.checkbox:checked, .checkbox[checked="true"], .checkbox[aria-checked="true"] {
    background-repeat: no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
    background-color: #66BB6A;
    background-image: linear-gradient(-45deg, transparent 65%, #66BB6A 65.99%),
      linear-gradient(45deg, transparent 75%, #66BB6A 75.99%),
      linear-gradient(-45deg, #66BB6A 40%, transparent 40.99%),
      linear-gradient(
        45deg,
        #66BB6A 30%,
        white 30.99%,
        white 40%,
        transparent 40.99%
      ),
      linear-gradient(-45deg, white 50%, #66BB6A 50.99%);
}